@model GoodsIndexModel

@{
    ViewBag.Title = $"Goods store";
    Layout = "_Layout";
}

<div class="row">
        <div class="col-3 parametr" id="parameters-column" data-type="@Model.TypeDiscriminator">
            @foreach (var modelParametr in Model.Parametrs)
            {
                <div class="card-body p-1">
                    @await Component.InvokeAsync(modelParametr.FilterParametr.ToString(), new { filterParametr = modelParametr })

                </div>
            }
                <div class="btn btn-info w-100 m-2" id="floating-button">
                    Aplay (
                    <span>Total : </span>
                    <span class="total-count"></span>
                    )
                </div>
        </div>
    <div class="col-9 container-fluid" id="catalog-items-column">
        <div class="d-flex justify-content-center loading-spiner m-5">
            <div class="spinner-border text-warning" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div id="catalog-items-content"></div>
        <nav class="goods-store-pagination">
            <ul class="pagination">
                <li class="page-item">
                    <div class="page-link preview-link">
                        &laquo;
                    </div>
                </li>
                <li class="page-item">
                    <div class="page-link">
                        <span>Curent page : </span>
                        <span class="current-page">1</span>
                    </div>
                </li>
                <li class="page-item">
                    <div class="page-link next-link">
                        &raquo;
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    </div>

@section Scripts
{
    <script src="~/js/Goods/components.jsx"></script>
    <script src="~/js/Goods/goods.index.jsx"></script>
}



