<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Goods Shop</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-white" id="goods-store-navbar">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Goods Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav col-2">
                <li class="nav-item active">
                    <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">About<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a asp-area="" asp-controller="Home" asp-action="Contacts" class="nav-link">Contacts<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div class="form-inline col-7">
                <div class="col-10">
                    <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </div>
            <div class="form-inline ml-auto">
                @await Component.InvokeAsync("IdentityWidget")
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Shop</p>
        </footer>
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
