@{
    ViewBag.Title = $"Goods store";
    Layout = "_Layout";
}

<h1>Hello manage view!</h1>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
