body {
    height: 100%;
    margin: 0 2em;
}

#goods-store-navbar {
    margin: 0.5em 0 1.5em 0;
    padding: 0;
}

#parameters-column {
    padding: 1em 1em;
}

.catalog-item {
    margin: 1em 0 1em 0;
}

.preview-link, .next-link {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}

