@using GoodsStore.Web.Framework.Interfaces.Model
@model GoodsStore.Web.Framework.Interfaces.Model.IPhraseParametr
<div class="phrase-parametr" name="@Model.ItemPropertyName" >
    <input class="form-control parametr" type="text" placeholder="@Model.Phrase">
</div>
